{% load static from staticfiles %}

<link rel="stylesheet" href="{% static "css/style.css" %}">



<div id="title_div" class="floated_left">
	<h1> Convenient Delivery </h1> 
</div>
	
<div id="login_div">
	<h2 id="login_header" >Login</h2>
	<form>
		Username: <input class="floated_right padded_10_right" type="text" name = "username"><br>
		Password: <input class="floated_right padded_10_right" type="password" name = "lastname">
	</form>
	<form class="centered">
		<input type="submit" value="Submit">
	</form>
</div>


<div align="center" class = "cleared centered_50%">
	<h2> Please fill out the forms below!</h2>
	Establishment:<select id="Establiment_selector" class="centered_50%">
	<option value="Cumberland_Farms">Cumberland Farms</option>
	</select><br>
	<form class= "centered_50%">
		First name:<input type ="text" name="firstname"><br>
		Last name: <input type="text" name ="lastname"><br>
		<input type="submit" value="Submit">
	</form>
</div>

